<!DOCTYPE html>
<html lang="en" ng-app="RegApp">

<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>

    <div class="col-sm-2 col-lg-4"></div>

    <div ng-controller="regCtrl as ctrl" class="col-sm-8 col-lg-4 registrationpage">
            <h1>Registration Form</h1>
        
        <form name="ctrl.registrationform" ng-submit="ctrl.registrationform.$valid && ctrl.onSubmit()" novalidate>

            <!-- EMAIL -->
            <div class="form-group" ng-hide="ctrl.showResult">
                <label for="email">Email</label>
                <input id="email" name="email" type="email" placeholder="you@domain.com" class="form-control" ng-model="ctrl.user.email" required /> 
                          
                <div class="validation" data-ng-show="ctrl.registrationform.email.$touched || ctrl.registrationform.$submitted">
                <div data-ng-show="ctrl.registrationform.email.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>Email is required
                </div>
                <div data-ng-show="ctrl.registrationform.email.$error.email">
                    <span class="glyphicon glyphicon-alert"></span>Valid email is required
                </div>
                </div>
            </div>

            <!-- PASSWORD -->
            <div class="form-group" ng-hide="ctrl.showResult">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" placeholder="Password@123" class="form-control" ng-model="ctrl.user.password" minlength="8" ng-pattern="/^([a-zA-Z0-9@*#]{8,})$/" required/>

                    <div class="validation" data-ng-show="ctrl.registrationform.password.$touched || ctrl.registrationform.$submitted">
                    <div data-ng-show="ctrl.registrationform.password.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>Password is required
                    </div>
                    <div data-ng-show="ctrl.registrationform.password.$error.minlength">
                         <span class="glyphicon glyphicon-alert"></span>Password must be at least 8 characters
                    </div>
                    <div data-ng-show="ctrl.registrationform.password.$error.pattern">
                        <span class="glyphicon glyphicon-alert"></span>Password must alphanumeric including uppercase, lowercase, and special character (@#$)
                    </div>
    
                    </div>
                </div>

            <!-- NAME -->
            <div class="form-group" ng-hide="ctrl.showResult">
                <label for="name">Name</label>
                <input id="name" name="name" type="text" placeholder="John Doe" class="form-control" ng-model="ctrl.user.name" required /> 
                          
                <div class="validation" data-ng-show="ctrl.registrationform.name.$touched || ctrl.registrationform.$submitted">
                <div data-ng-show="ctrl.registrationform.name.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>Name is required
                </div>
                </div>
            </div>

            <!-- GENDER -->
            <div class="form-group" ng-hide="ctrl.showResult">
                <label for="gender">Gender</label><br>
                <input id="gender" name="gender" type="radio" ng-model="ctrl.user.gender" value="M" required/> &nbsp; Male <br>
                <input id="gender" name="gender" type="radio" ng-model="ctrl.user.gender" value="F" required/> &nbsp; Female 
                              
                <div class="validation" data-ng-show="ctrl.registrationform.gender.$touched || ctrl.registrationform.$submitted">
                <div data-ng-show="ctrl.registrationform.gender.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>Gender is required
                </div>
                </div>
            </div>

             <!-- DATE OF BIRTH -->
             <div class="form-group" ng-hide="ctrl.showResult">
                    <label for="dob">Date of Birth</label><br>
                    
                    <div class="input-group">

                    <input id="dob" name="dob" type="date" class="form-control"  ng-model="ctrl.user.dob" required /> 
                             

                    <span class="input-group-btn">
                        <div class="btn-group" role="group">
                            <a class="btn btn-success" ng-click="ctrl.age()" required>
                                <span class="glyphicon glyphicon-ok"></span>
                            </a>
                        </div>
                    </span>

                    </div>
                                  
                <div class="validation" data-ng-show="ctrl.registrationform.date.$touched || ctrl.registrationform.$submitted">
                        <div data-ng-show="ctrl.registrationform.date.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>Date of birth is required
                        </div>  
                </div>
             </div>
            
            <!-- ADDRESS -->
            <div class="form-group" ng-hide="ctrl.showResult">
                <label for="address">Address</label>
                <input id="address" name="address" type="text" placeholder="123 Main Street" class="form-control" ng-model="ctrl.user.address" required /> 
                              
                <div class="validation" data-ng-show="ctrl.registrationform.address.$touched || ctrl.registrationform.$submitted">
                <div data-ng-show="ctrl.registrationform.address.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>Address is required
                </div>
                </div>  
            </div>

            <!-- COUNTRY -->
            <div class="form-group" ng-hide="ctrl.showResult">
                <label for="country">Country</label>
                <input id="country" name="country" type="text" placeholder="Singapore" class="form-control" ng-model="ctrl.user.country" required /> 
                              
                <div class="validation" data-ng-show="ctrl.registrationform.country.$touched || ctrl.registrationform.$submitted">
                <div data-ng-show="ctrl.registrationform.country.$error.required">   
                    <span class="glyphicon glyphicon-alert"></span>Country is required
                </div>
                </div>
            </div>

            <!-- CONTACT -->
            <div class="form-group" ng-hide="ctrl.showResult">
                <label for="contact">Contact Number</label>
                <input id="contact" name="contact" type="text" placeholder="+65 (1234) 5678" class="form-control" ng-model="ctrl.user.contact" ng-pattern="/^([0-9+-/(/)\s]{1,})$/" required /> 
                              
                <div class="validation" data-ng-show="ctrl.registrationform.contact.$touched || ctrl.registrationform.$submitted">
                <div data-ng-show="ctrl.registrationform.contact.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>Contact number is required
                </div>
                <div data-ng-show="ctrl.registrationform.contact.$error.pattern">
                    <span class="glyphicon glyphicon-alert"></span>Contact number only allows numbers, special characters (+-) and whitespace
                </div>
                </div>
            </div>

            <!-- SUBMIT -->

            <div class="form-group" ng-hide="ctrl.showResult">
                <input id="submit" name"submit" type="submit" class="btn btn-success" />
            </div>

            <div ng-show="ctrl.showResult">
                <hr/>
                <h3>Thank you for your submission!</h3>
            </div>

        </form>

    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/app/app.module.js"></script>
    <script src="/app/app.controller.js"></script>

</body>

</html>